<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bake My Cake</title>
  <!-- CSS only -->
<!--Boot Strap-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!--Glyphicons-->
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">



<!-- Fonts from google -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Bungee+Shade&family=Chathura:wght@800&family=Girassol&family=Karantina&family=Niconne&family=Odibee+Sans&family=Romanesco&display=swap" rel="stylesheet"></head>
<link href='https://fonts.googleapis.com/css?family=Arizonia' rel='stylesheet'>

<!-- Our CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/style.css">

<!-- JQuery from google CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>


<body class="border border-dark boder-1">

<!-- navigation Bar -->
<div class="">
    <nav class="navbar navbar-expand-md navbar-light bg-light bs-example pt-0 pb-0">
        <a href="#" class="navbar-brand">
            <img src="/static/Images/cakePic.png" height="20" alt="bakeMyCake"><span class="h6 text-success"> &#9; Bake My Cake</span>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarCollapse">
            <!-- <div class="navbar-nav">
                <a href="#" class="nav-item nav-link active">Home</a>
                <a href="#" class="nav-item nav-link">Profile</a>
                <a href="#" class="nav-item nav-link">Messages</a>
                <a href="#" class="nav-item nav-link disabled" tabindex="-1">Reports</a>
            </div> -->
            <div class="navbar-nav ml-auto nav-text-size">
                <a href="#" class="nav-item nav-link text-primary"><i class="fa fa-mobile-phone mobile-style" aria-hidden="true"></i>&#9;<span id="set-top">210-233-0090</span></a>
                <a href="#" class="nav-item nav-link text-primary"><i class="fa fa-envelope email-style" aria-hidden="true"></i>&#9;bakemycake@gmail.com</a>
                <a href="#" class="nav-item nav-link"><i class="fa fa-facebook facebook-style" aria-hidden="true"></i></a>
                <a href="#" class="nav-item nav-link text-primary"><i class="fa fa-instagram insta-style"></i></a>
            </div>
        </div>
    </nav>
</div>

<!-- row1 -->
  <div class="container-fluid hero-image flex-grow-1">
    <div class="hero-text text-center">
      <span class="set-font m-0">Shanya's</span><br>
      <img id="reset" class="set_image" src="/static/Images/cakesWithLove.jpg">    
    </div>
  </div>


<!-- Footer -->
<footer class="bg-dark text-center text-white">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(2, 4, 26, 0.2);">
      © 2021 Copyright:&nbsp &nbsp
      <a class="text-white" href="#"><i class="fa fa-hand-pointer-o bounce" aria-hidden="true" style='font-size:30px;color:white;'></i></a>
    </div>
    <!-- Copyright -->
  </footer>
  
      <!--container end -->
      
  <!-- Javascript files -->
  <!-- D3 JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  
   <!--Our javaScript file-->
    <!---------------------------------------------->
    <!-- Launch Page -->
    <script src="/static/js/launch.js"></script>
  
  
  </body>
  </html>