<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bake My Cake</title>
  <!-- CSS only -->
<!--Boot Strap-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!--Glyphicons-->
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">



<!-- Fonts from google -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Bungee+Shade&family=Chathura:wght@800&family=Girassol&family=Karantina&family=Niconne&family=Odibee+Sans&family=Romanesco&display=swap" rel="stylesheet"></head>
<link href='https://fonts.googleapis.com/css?family=Arizonia' rel='stylesheet'>

<!-- Our CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/style.css">

<!-- carrousal links -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<!-- JQuery from google CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>


<body class="border border-dark boder-1" >

<!-- navigation Bar 1-->
<div>
    <nav class="navbar navbar-fixed-top navbar-expand-md navbar-light bs-example pt-0 pb-0" style="background-image:url('/static/Images/blueBackground.png');background-size: cover;">
        <a href="#" class="navbar-brand pl-2 align-items-center">
            <img src="/static/Images/cakePic.png" height="20" alt="bakeMyCake"><span class="h5" style="font-family:Arizonia;color:pink"> &#9; Bake My Cake</span>
        </a>
        <div class="collapse navbar-collapse " id="navbarCollapse">
            <div class="navbar-nav ml-auto nav-text-size pr-5 mr-5">
                <a href="#" class="nav-item nav-link" style="color:rgb(235, 203, 99);"><i class="fa fa-mobile-phone mobile-style" aria-hidden="true"></i>&#9;<span id="set-top">210-233-0090</span></a>
                <a href="#" class="nav-item nav-link" style="color:rgb(235, 203, 99);"><i class="fa fa-envelope email-style" aria-hidden="true"></i>&#9;bakemycake@gmail.com</a>
                <a href="#" class="nav-item nav-link"><i class="fa fa-facebook facebook-style" aria-hidden="true"></i></a>
                <a href="#" class="nav-item nav-link"><i class="fa fa-instagram insta-style"></i></a>
            </div>
        </div>       
    </nav>
</div>

<!-- row1 -->
<div class="container-fluid p-0">
<nav class="navbar-nav navbar-fixed-top">
  <div class="container-fluid flex-grow-1" style="background-color:rgb(203, 227, 243);">
    <div class="header text-center">
      <span class="set-font m-0">Shanya's</span><br>
      <img id="reset" class="set_image" src="/static/Images/cakesWithLove.jpg">    
    </div>
  </div>  
</nav>
<!-- 2nd Menu------------------------------- -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color:rgb(203, 227, 243);">
  <div class="mx-auto d-sm-flex d-block flex-sm-nowrap" style="color:black;font-weight:bold;">
    <a class="navbar-item nav-link mr-md-4 about" style="color: #f388c3;" href="#">About</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav text-dark" >
        <li class="nav-item">
            <a class="nav-link ml-md-2 mr-md-2 active-link" href="#">Cakes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mr-md-2" href="#">Cup Cakes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mr-md-2 href="#">Cookies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mr-md-2" href="#">Flavors</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mr-md-2" href="#">Specials</a>
        </li>        
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
    
  </div>
</nav>
</div>
<!-- About Me  -->
<div class="container-fluid" style="background-image:url('/static/Images/background1.jpg');background-size:cover;">
  <div class="container" >
    <br>
    <h2 class="text-center" style="font-family:Bodoni MT;color:rgb(210, 233, 84);font-size:36px;"> Welcome to My Baking Garden!</h2>
    <br>
    <pre class="text-light m-0" style="font-size:16px;">      Choose one of our ready-made designs or create your own bespoke masterpiece! 
      Fresh from The Cake Shop, customised for you. Due to the intricate and fragile nature of our creations,
      all our cakes can be collected from our Oxford or Banbury shops or delivered within a 30-mile radius by
      our dedicated Cake Shop drivers. Check here to see if you are inside our delivery area. If you’re not within
      our delivery area, please call to discuss options.
      
      We also have a specially selected range of cost-effective quick cakes which are available for delivery or
      collection.Order a birthday, wedding or special occasion cake from our selection online or contact our shop
      on 01865 248691 to arrange a free consultation for a bespoke creation.

      Note: Content above has been copied from the internet.Will be updated later.
      <div class="text-center" style="background-image:url('/static/Images/2nd_background2.jpg');background-size:cover;background-repeat:no-repeat;height:270px;opacity: 0.6;">
        <h3 class="set-head m-0" style="font-family:Bodoni MT;color:rgb(1, 1, 3);font-size:40px;font-weight:bold;opacity:4;">Got to order now?</h3>
        <p class="m-0 set-para" style="font-family:Georgia;color:rgb(1, 7, 1);font-size:16px;font-weight:bold;">Select a cake from our <a href="#">Menu</a> or send us an <a href="#">E-mail</a> with a picture and flavors of your choice.</p>
      </div>
    </pre>
    <!-- Carousel code -->
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
      <div class="items">
        <div class="card">
            <div class="media media-2x1 gd-primary"> <img class="profile-image" src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1568709978/BBBootstrap/2.jpg"> </div>
            <div class="card-body">
                <h5 class="card-title">Delbert Simonas</h5>
                <p class="card-text">"Online reviews can make or break a customer's decision to make a purchase. Read about these customer review on site"</p>
            </div>
        </div>
        <div class="card">
            <div class="media media-2x1 gd-primary"> <img class="profile-image" src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1561869127/BBBootstrap/img-3.jpg"> </div>
            <div class="card-body">
                <h5 class="card-title">Tikoh Amin</h5>
                <p class="card-text">"When you think of Apple you automatically think expensive if your anything like me. When purchasing this laptop I was skeptical."</p>
            </div>
        </div>
        <div class="card">
            <div class="media media-2x1 gd-primary"> <img class="profile-image" src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1561869127/BBBootstrap/img-2.jpg"> </div>
            <div class="card-body">
                <h5 class="card-title">Malachi Lensing</h5>
                <p class="card-text">"I’ve wanted a MacBook for a while now because of the build quality and the simplicity of the OS. I spend an average 6 hours a day."</p>
            </div>
        </div>
        <div class="card">
            <div class="media media-2x1 gd-primary"> <img class="profile-image" src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1561869126/BBBootstrap/img-1.jpg"> </div>
            <div class="card-body">
                <h5 class="card-title">Christian Isla</h5>
                <p class="card-text">"This MacBook has excellent processing speed. The screen is crystal clear and I really enjoy the touchbar. I set it up"</p>
            </div>
        </div>
        <div class="card">
            <div class="media media-2x1 gd-primary"> <img class="profile-image" src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1563294707/Profile/img-1.jpg"> </div>
            <div class="card-body">
                <h5 class="card-title">Lori Charles</h5>
                <p class="card-text">"For the last 10 years, I have owned an old Gateway laptop. Although it was amazing and lasted me, it was time for an upgrade."</p>
            </div>
        </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  <!-- carousel end -->
  </div>
</div>
<div class="container-fluid" >
  <!-- <div class="pt-5" style="background-image:url('/static/Images/2nd_background.jpg');background-size:cover;background-repeat:no-repeat;height:350px;opacity: 0.7;">
      <h3 class="text-center">Got to order now?</h3>
      <p>Select a cake from our <a href="#">Menu</a> or send us an <a href="#">E-mail</a> with a picture and flavors of your choice.</p>
  </div> -->
</div>


<!-- Footer -->
<footer class="bg-dark text-center text-white">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(2, 4, 26, 0.2);">
      © Copyright & Creation: Divya Shetty &nbsp &nbsp
      <a class="text-white" href="#"><i class="fa fa-hand-pointer-o bounce" aria-hidden="true" style='font-size:30px;color:white;'></i></a>
    </div>
    <!-- Copyright -->
  </footer>
  
      <!--container end -->
      
  <!-- Javascript files -->
  <!-- D3 JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  
   <!--Our javaScript file-->
    <!---------------------------------------------->
    <!-- Launch Page -->
    <script src="/static/js/carosel.js"></script>

  
  <!-- script for header shrink -->
  <script>
    // When the user scrolls down 50px from the top of the document, resize the header's font size
    window.onscroll = function() {scrollFunction()};
    
    function scrollFunction() {
      if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
        document.getElementById("header").style.fontSize = "30px";
      } else {
        document.getElementById("header").style.fontSize = "90px";
      }
    }
    </script>
  </body>
  </html>